{% extends "base.html" %} 
{% block title %}Home{% endblock %} 

{% block content %}

<!-- my_collection.html -->

<h1 style="color: wheat;">My Game Collection</h1>

<div class="game-list">
    {% for game in games %}
    <div class="game-card">
        <div class="game-image">
            <img src="{{ url_for('static', filename='images/' + game.image_url) }}" alt="{{ game.title }}" style="width: 200px; height: 200px;">
        </div>

        <div class="game-details">
            <h3>{{ game.title }}</h3>
            <p>{{ game.description }}</p>
            <p><strong>Rating:</strong> {{ game.rating }}%</p>

            <!-- Button to remove game from collection -->
            <form action="{{ url_for('views.remove_from_collection', game_id=game['game_id']) }}" method="POST">
                <button type="submit" class="btn">Remove from Collection</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<a href="{{ url_for('views.home') }}">Back to Home</a>

{% endblock %}

